body{
    background-color: white;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 20px;
}

#navBox{
    grid-column: span 3;
    /* grid-column-start: 1; */
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

#linksDivBox{
    grid-column: span 3;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    width: 95%;
    margin: 0 auto;
    height: 50px;
}

#navChild{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navChildTwo{
    display: flex;
    justify-content: space-around;
    width: 360px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo{
    width: 50px;
}

.box1{
    max-height: 20px;
    max-width: 150px;
    margin-right: 10px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 15px;
    font-size: medium;
}

#contactLink{
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodyDisplayFour{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#bodyDisplayFourChild{
    height: 400px;
    grid-column: span 2;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}

#miniBodyDisplayFourthChildBox1{
    grid-column: 1;
    grid-row: span 3;
    background-color: rgb(241, 240, 240);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* gap: 5px; */
}

#miniBodyDisplayFourthChildBox1Liner1{
    grid-column: span 5;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: span 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px;
    background-color: rgb(45, 194, 78);
}

#miniBodyDisplayFourthChildBox1Liner2{
    grid-column: span 8;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row: span 3;
    grid-row-start: 5;
    grid-row-end: 7;
    border-radius: 20px;
    background-color: rgb(45, 194, 78);
}

#miniBodyDisplayFourthChildBox2{
    grid-column: 1;
    grid-row: span 3;
    grid-column-start: 2;
    background-color: rgb(245, 219, 236);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#miniBodyDisplayFourthChildBox2Liner1{
    grid-column: span 5;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row: span 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px;
    background-color: rgb(212, 135, 223);
}

#miniBodyDisplayFourthChildBox2Liner2{
    grid-column: span 8;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row: span 3;
    grid-row-start: 5;
    grid-row-end: 7;
    border-radius: 20px;
    background-color: rgb(212, 135, 223);
}

#miniBodyDisplayFourthChildBox3{
    grid-column: 1;
    grid-row: span 3;
    grid-column-start: 3;
    background-color: rgb(245, 192, 113);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#miniBodyDisplayFourthChildBox3Liner1{
    grid-column: span 5;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row: span 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px;
    background-color: rgb(255, 123, 0);
}

#miniBodyDisplayFourthChildBox3Liner2{
    grid-column: span 8;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row: span 3;
    grid-row-start: 5;
    grid-row-end: 7;
    border-radius: 20px;
    background-color: rgb(255, 123, 0);
}

#miniBodyDisplayFourthChildBox4{
    grid-column: 1;
    grid-row: span 13;
    grid-column-start: 1;
    background-color: rgb(214, 236, 243);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(17, 1fr);
    padding: 10px;
}

#child1OfMiniBodyDisplayFourthChildBox4{
    background-color: skyblue;
    grid-column: span 8;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    border-radius: 20px;

}

#child2OfMiniBodyDisplayFourthChildBox4{
    background-color: skyblue;
    grid-column: span 4;
    grid-row: span 12;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 12;

}

#child3OfMiniBodyDisplayFourthChildBox4{
    background-color: skyblue;
    grid-column: span 4;
    grid-row: span 12;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 16;

}

#child4OfMiniBodyDisplayFourthChildBox4{
    background-color: skyblue;
    grid-column: span 4;
    grid-row: span 12;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 4;
    grid-row-end: 14;

}

#miniBodyDisplayFourthChildBox5{
    grid-column: 1;
    grid-row: span 13;
    grid-column-start: 2;
    background-color: rgb(238, 231, 224);
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(17, 1fr);
    padding: 10px;
}

#child1OfMiniBodyDisplayFourthChildBox5{
    background-color: rgb(255, 123, 0);
    grid-column: span 8;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    border-radius: 20px;

}

#child2OfMiniBodyDisplayFourthChildBox5{
    background-color: rgb(255, 123, 0);
    grid-column: span 6;
    grid-row: span 12;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 12;

}

#child3OfMiniBodyDisplayFourthChildBox5{
    background-color: rgb(255, 123, 0);
    grid-column: span 6;
    grid-row: span 12;
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 6;
    grid-row-end: 16;

}

#miniBodyDisplayFourthChildBox6{
    grid-column: 1;
    grid-row: span 13;
    grid-column-start: 3;
    background-color: rgb(243, 243, 208);
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(17, 1fr);
    padding: 10px;
}

#child1OfMiniBodyDisplayFourthChildBox6{
    background-color: rgb(255, 196, 4);
    grid-column: span 8;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    border-radius: 20px;

}

#child2OfMiniBodyDisplayFourthChildBox6{
    background-color: rgb(255, 196, 4);
    grid-column: span 6;
    grid-row: span 12;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 12;

}

#child3OfMiniBodyDisplayFourthChildBox6{
    background-color: rgb(255, 196, 4);
    grid-column: span 6;
    grid-row: span 12;
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 3;
    grid-row-end: 10;

}

#child4OfMiniBodyDisplayFourthChildBox6{
    background-color: rgb(255, 196, 4);
    grid-column: span 14;
    grid-row: span 6;
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 13;
    grid-row-end: 17;

}

#bodyDisplayFive{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
    max-width: 100%;
    height: 350px;
    padding-bottom:20px;
    margin-bottom: 40px;
}

#bodyDisplayFiveChild1{
    grid-column: span 5;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row: span 7;
    grid-row-start: 2;
    padding-top: 20px;
}

#bodyDisplayFiveChild2{
    grid-column: span 2;
    grid-column-start: 9;
    grid-row: span 9;
    grid-row-start: 2;
    padding-left: 30px;
}

#getStartedBtnForBodyDivFive{
    color: white;
    background-color: black;
    border-radius: 10px;
    min-width: 150px;
    min-height: 55px;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
}

#exploreTemplates{
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    color: black;
    background-color: white;
    border: solid 1px;
    border-radius: 7px;
    min-width: 70px;
    min-height: 40px;
    font-size: large;
    font-weight: bold;
}

#planningBtn{
    color: white;
    background-color: black;
    border-radius: 10px;
    min-width: 150px;
    min-height: 55px;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
}

#planningBtnTwo{
    margin-left: 44%;
    color: white;
    background-color: black;
    border-radius: 10px;
    min-width: 150px;
    min-height: 55px;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
}

#tryFigmaHomeTextBtn{
    color: white;
    background-color: black;
    border: solid 1px;
    border-radius: 7px;
    min-width: 100px;
    min-height: 50px;
    outline: none;
    border: none;
    padding: 10px;
    margin-left: 30px;
}

#tryFigmaHomeTextBtnDiv{
    width: 250px;
    padding-bottom: 20px;
    font-size: larger;
    font-weight: bold;
}

#exploreTemplates{
    border: solid 1px black;
    border-radius: 10px;
    width: 200px;
    margin-top: 10px;
    height: 50px;
}

#bodyDisplay{
    background-color: rgb(233, 112, 112);
    width: 100%;
    max-width: 100%;
    padding-bottom: 100px;
}

#bodyDisplayTwo{
    background-color: white;
    width: 100%;
    max-width: 100%;
    padding-bottom: 120px;
    padding-top: 120px;
}

#figmaTextInPTag{
    margin-left: 50px;
    margin-top: 30px;
    padding-top: 100px;
    margin-bottom: 0;
}

#homeMainBox{
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

#homeCenterDiv{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 95%;
    margin: 0 auto;
}

#titleText{
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#aboutText{
    padding: 10px;
}

#boxOfBoxes{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5%;
    padding: 20px;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

#div0{
    grid-column: 1;
    grid-row: 1;
}

#div1{
    grid-column: span 9;
    grid-row: 1 ;
    grid-column-start: 2;
    grid-column-end: 10;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#topBox1{
    grid-column: span 20;
    grid-row: 1;
    grid-row-start: 1;
    border: solid 1px black;
    background-color: rgb(183, 123, 240);
}

#topBox2{
    grid-column: span 1;
    grid-row: 1;
    border: solid 3px black;
    border-top: solid 2px;
    grid-row-start: 2;
    background-color: white;
}

#div2{
    grid-column: 1;
    grid-row: span 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(36, 240, 162);
    border: solid 3px black;
}

#div3{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    background-color: rgb(157, 245, 211);
    border: solid  3px black;
    border-radius: 4px;
}

#div4{
    grid-column: span 6;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    background-color: rgb(157, 245, 211);
    border: solid 3px black;
    border-radius: 4px;
}

#div5{
    grid-column: span 3;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    background-color: rgb(157, 245, 211);
    border: solid 3px black;
    border-radius: 4px;
}

#div6{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    background-color: rgb(157, 245, 211);
    border: solid 3px black;
    border-radius: 4px;
}

#div7{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    background-color: rgb(157, 245, 211);
    border: solid 3px black;
    border-radius: 4px;
}

#div8{
    grid-column: 1;
    grid-row: span 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(130, 192, 250);
    border: solid 3px black;
}

#div9{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    background-color: rgb(187, 218, 247);
    border: solid 3px black;
    border-radius: 4px;
}

#div10{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    background-color: rgb(187, 218, 247);
    border: solid 3px black;
    border-radius: 4px;
}

#div11{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    background-color: rgb(187, 218, 247);
    border: solid 3px black;
    border-radius: 4px;
}

#div12{
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    background-color: rgb(187, 218, 247);
    border: solid 3px black;
    border-radius: 4px;
}

#div13{
    grid-column: span 6;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    background-color: rgb(187, 218, 247);
    border: solid 3px black;
    border-radius: 4px;
}

#div14{
    grid-column: 1;
    grid-row: span 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(248, 214, 61);
    border: solid 3px black;
}

#div15{
    border-radius: 4px;
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    background-color: rgb(247, 232, 169);
    border: solid 3px black;
}

#div16{
    grid-column: span 3;
    grid-row: 1;
    border-radius: 4px;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    background-color: rgb(247, 232, 169);
    border: solid 3px black;
}

#div17{
    border-radius: 4px;
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 6;
    background-color: rgb(247, 232, 169);
    border: solid 3px black;
}

#div18{
    border-radius: 4px;
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    background-color: rgb(247, 232, 169);
    border: solid 3px black;
}

#div19{
    border-radius: 4px;
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    background-color: rgb(247, 232, 169);
    border: solid 3px black;
}

#div20{
    border-radius: 4px;
    grid-column: span 3;
    grid-row: 1;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 7;
    background-color: rgb(247, 232, 169);
    border: solid 3px black;
}